 body{
            background-color: #f4f4f4;
        }
        div {
            border: 1px solid;
            max-width: 1200px;
            height: 500px;
            padding-left: 60px;
            padding-top: 60px;
            background-color: black;
            margin: 0 auto;
            margin-top: 200px;
        }
        button {
            width: 170px;
            height: 70px;
            font-size: 30px;
            margin-right: 20px;
            margin-top: 20px;
            border-radius: 20px;
            color: white;
            cursor: pointer;
        }
        input {
            width: 1130px;
            margin-bottom: 20px;
            height: 50px;
            border-radius: 15px;
            font-size: 25px;
            padding-left: 10px;
        }